body {
font-family: Arial, sans-serif;
background-color: #f8f8f8;
}

header {
    text-align: center;
    margin: 20px 0;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(35, 55, 104);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.header-left {
    display: flex;
    align-items: center;
    color: white;
}

.header-right {
    display: flex;
}

.header-logo {
width: 60px;
height: auto;
margin-bottom: 10px;
}

.header-button {
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}

.header-button:hover {
opacity: 0.9;
}

.gift-card-button {
    display: flex;
    align-items: center;
}

.gift-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.info-box {
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    padding: 40px !important;
    margin: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    display: none;
}

.info-box {
    list-style-type: none;
    padding: 0;
}

.info-box li {
    margin: 10px;
}

.info-box a {
    color: #6c63ff;
    text-decoration: none;
}

.info-image {
    display: black;
    margin: 0 auto 20px;
    width: 100px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 40px;
}

.bread-box {
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
}

.bread-box img {
    width: 80%;
    height: 50%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.bread-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.add-to-cart {
    background-color: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.add-to-cart:hover {
    opacity: 0.9;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 20px; /* Rounded edges */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 20px; /* Rounded edges for the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.purchase-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.purchase-button:hover {
    background-color: #45a049;
}

select {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.go-to-cart-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    display: inline-block;
    margin: 20px auto;
}

.go-to-cart-button:hover {
    background-color: #ffffff;
    opacity: 0.9;
}


